/* Välj lämplig selektor och styla det som är angett! Skriv endast här i CSS dokumentet, ändra inte i HTML-dokumentet!*/

/* 1. Ge alla element på sidan en 'box-sizing: border-box;' */
*{
    box-sizing: border-box;
}


/* 2. <body> elementet ska ha bakgrundsfärg #bdc3c7*/
body{
    background-color: #bdc3c7;
}

/* 3. Rubriken <h1> ska ha färg #9b59b6*/
h1{
    color: #9b59b6;
}

/* 4. Alla underubriker <h2> ska ha en orange färg */
h2{
    color: orange;
}

/* 5. Alla <li> element i en ul-lista ska ha blå färg (välj valfri hexadecimal färg)*/
ul li{
    color: blue;
}

/* 6. Alla p ska ha en gul bakgrundsfärg*/
p{
    background-color: #e0ee21;
}


/* 7. Alla inmatningsfält (input) ska ha en border på '3px solid red'*/
input{
    border: 3px solid red;
}

/* 8. Alla element med class 'hello' ska ha en vit bakgrund*/
.hello {
    background-color: rgb(255, 255, 255);
  }

/* 9. Elementet med id 'special' ska ha en border på '2px solid blue'*/
#special {
    border : 2px solid blue  }

/* 10. Alla <p> och <div> ska ha färgen svart #000*/
div, p{
    color: black;
}

/* 11. Alla  <p> som ligger nästlade (inuti) en div ska ha font-size: 22px*/
div p{
    font-size: 22px
}

/* 12. Ge alla em i den fjärde div-en med class="fourth" en 'text-docration: underline;*/
.fourth em 
{
    text-decoration: underline;
}

/* 13. Gör så att <h1> elementet får färgen blå när musen är över elementet (:hover) */
h1:hover{
    color:blue;
}

/* 14. Gör så att alla besökta <a> element får färgen grå (:visited) */
a:visited{
    color: grey;
}

/* 15. Alla inmatningsfält (input) av typ 'text' ska ha grå bakgrund */
input[type = text]{
    background-color:gray;
}

/* 16. Alla checkboxrutor som är 'checked' ska får en vänstermarginal på 50px (margin-left: 50px) */
input[type=checkbox]:checked{
    margin-left: 50px;
}

/* BONUSUPPGIFTER 17-21 */


/* 17. Ge alla p som är direkta barn till .container en font-weight på 700 */

.container+p{
    font: weight 700px;
}

/* 18. Endast första listelementet i ul-listan ska få färg och font-size: 20px */

ul li:first-of-type{
    color: #bdc3c7;
    font-size: 20px;
}


/* 19. Ge alla p som kommer direkt efter h2-elementet i den tredje div-en (class="third") en turkos bakgrundsfärg Tips: Adjacent sibling selector*/
.third h2 + p{
    background-color: turquoise;
}


/* 20. Ge alla p som kommer efter h2-elementet i den trdje div-en (class="third") en vit färg #fff Tips: General sibling selector*/
.third h2 ~ p{
    background-color:white;
}

/* 21. Ge den andra paragrafen i .contatinern en röd färg  font-size till 32px; (En utmaning...)*/
.hello{
    color: red;
    font-size: 32px;

}